<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="itewon.seon.repository.AbTypeRepository" >
    <resultMap id="abType" type="itewon.seon.dto.abType.AbTypeListDto"></resultMap>
    <resultMap id="selectTypeListByShValue" type="itewon.seon.dto.abType.SelectTypeListDto"></resultMap>

    <select id="selectTypeList" resultMap="abType">
        <![CDATA[
        select
            typeSeq
            ,typeName
        from abType
        ]]>
        where userSeq = ${userSeq}
        <if test='#{shValue} != ""'>
         and  typeName LIKE CONCAT('%',#{shValue},'%')
        </if>
        <![CDATA[
        order by
            (
                CASE WHEN ASCII(SUBSTRING(typeName,1)) BETWEEN 48 AND 57 THEN 3
                     WHEN ASCII(SUBSTRING(typeName,1)) < 123 THEN 2 ELSE 1
                    END
                ), typeName;
        ]]>
    </select>

    <insert id="insertType" parameterType="itewon.seon.dto.abType.InsertTypeDto">
        insert into abType(abSeq,userSeq,typeName)values(${abSeq},${userSeq},#{typeName})
        on duplicate key update typeName = #{typeName};
    </insert>

    <delete id="deleteType" parameterType="Long">
        delete from abType where typeSeq = ${typeSeq};
    </delete>
</mapper>