<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="itewon.seon.repository.AccountBookRepository" >
    <resultMap id="SelectAccountBook" type="itewon.seon.dto.accountBook.SelectAccountBookDto"></resultMap>

    <select id="selectMyAccountBook" resultMap="SelectAccountBook">
        <![CDATA[
        select
            ab.abSeq
             ,ifNull(price,'') as price
             ,ifNull(contents,'') as contents
             ,ifNull((select typeName from abType type where type.abSeq = ab.abSeq),'') as type
             ,regTimestamp
             ,delNy
             ,ab.userSeq
        from AccountBook ab left join abType ty on ab.abSeq = ty.abSeq
        where ab.userSeq = ${userSeq}
          and delNy=${delNy}
        ]]>
<!--        <if test='${shOption} == 1'>-->
<!--            내역이름 조건-->
<!--            금액 범위 조건-->
<!--            날짜 조건-->
<!--            메모 조건-->
<!--        </if>-->
        <![CDATA[
        order by regTimestamp desc;
        ]]>
    </select>

    <select id="selectLastAccountBookOne" resultType="Long">
        select
            abSeq
        from AccountBook
        order by abSeq desc limit  1
    </select>

    <insert id="createAccountBook" parameterType="Long">
        insert into AccountBook(
                userSeq
                ,regTimestamp
        )values(
                #{userSeq}
               ,now()
               )
    </insert>

    <update id="updateAccountBook">
        update AccountBook set
            ${shKey}
                =
                #{shValue}
        where abSeq = ${abSeq}
    </update>
    <update id="deleteAccountBook" parameterType="Long">
        update AccountBook set
            delNy = 1
        where abSeq = #{abSeq}
    </update>
    <update id="restoreAccountBook" parameterType="Long">
        update AccountBook set
            delNy = 0
        where abSeq = #{abSeq}
    </update>
    <delete id="permanentlyDeleteAccountBook" parameterType="Long">
        delete from AccountBook where abSeq = #{abSeq}
    </delete>
</mapper>