<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="itewon.seon.repository.UserRepository" >

    <resultMap id="user" type="itewon.seon.dto.user.UserDto"></resultMap>
    <resultMap id="loginResponse" type="itewon.seon.dto.user.LoginResponse"></resultMap>

    <select id="findUserByIdAndPw" resultMap="loginResponse" parameterType="itewon.seon.dto.user.LoginRequest">
        select
            userSeq
            ,userEmail
            ,userName
            ,count(*) cnt
        from User
        where userEmail = #{userEmail}
        and userPw = #{userPw}
    </select>

    <select id="findUserByEmail" resultType="itewon.seon.dto.user.CustomUserDetails" parameterType="String">
        select
             count(*) cnt
            ,userEmail
            ,userName
            ,userSeq
        from User
        where userEmail = #{userEmail}
    </select>

    <insert id="createAccount">
        insert into User(
            userEmail
            ,userName
            ,userPw
            ,regTimestamp
        )values(
            #{userEmail}
            ,#{userName}
            ,#{userPw}
            ,now()
        )
    </insert>











    <insert id="signIn" parameterType="org.springframework.security.core.userdetails.User">
        insert into User(
             userEmail
            ,userPw
            ,regTimestamp
        )values(
            #{username}
           ,#{password}
           ,now()
           )
    </insert>

    <select id="selectUserAuthoritiesByUserEmail" parameterType="String" resultType="itewon.seon.dto.security.AuthorityDto">
        select
            userSeq
             ,authorityName
        from authorities
        where userEmail = #{userEmail}
    </select>

    <insert id="insertAuthority" parameterType="itewon.seon.dto.security.AuthorityDto">
        insert into User(
                 userSeq
                ,authorityName
        )values(
                #{userSeq}
               ,#{authorityName}
               )
    </insert>



    <insert id="insertToken" parameterType="itewon.seon.dto.security.TokenDto">
        insert into authorizedToken(
           userSeq
          ,accessToken
          ,refreshToken
        )value(
            ${userSeq}
            ,#{accessToken}
            ,#{refreshToken}
            )
        on duplicate key update
            userSeq = ${userSeq}
            , accessToken = #{accessToken}
            , refreshToken = #{refreshToken}
    </insert>
</mapper>