<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="footerFragment">
    <link rel="stylesheet" href="/css/footer.css">


    <div>
        <div>
            <a id="gitUrl" href="https://github.com/Yanison"><img id="mylogo" src="/img/yanison.png"></a>
            <div class="myInfo">
            <span>
                <p>project builder : Yanison</p>
                <p>2023.01.10 ~ 2023.01.16</p>
            </span>
                <span>
                <i class="fa-brands fa-github"></i>
                <a href="https://github.com/Yanison">깃허브</a>
            </span>
            </div>
        </div>
        <div>
            <a href="/payhere/"><img src="/img/logo.png"></a>
        </div>
    </div>

</th:block>
</html>