<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <th:block th:fragment="headerFragment">
      <div>
        <a href="/payhere/"><img src="/img/logo.png"></a>
      </div>
      <th:block th:if="${userSeq}">
<!--          <div class="myPage">-->
<!--            <a  href="/payhere/mypage" style="margin-left: 30px">마이페이지</a>-->
<!--          </div>-->
      </th:block>
    <input type="hidden" id="userSeq" th:value="${userSeq}">
  <link rel="stylesheet" href="/css/header.css">
  <script src="/js/header.js"></script>
  </th:block>
</html>


